h1{
    text-align: center;
    text-shadow: 16px;
    text-shadow: black;
}
h3{
    text-align: center;
}
p{
    /* text-align: center; */
}

.myClass{
    text-align: center;
    background-color: brown;
}

#myID{
    background-color: cadetblue;
    text-align: center;
}